# Ignore node_modules in base folder
/node_modules/

# Ignore node_modules in contracts folder
/contracts/node_modules/

# Ignore node_modules in frontend folder
/frontend/node_modules/

# Ignore any nested node_modules (monorepo safety)
**/node_modules/